html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Styles Definition */

:root {
  --black: #282828;
  --white: #fff;
  --primary-color: #16db93;
  --grey: #f2f3f5;
  --dark-grey: #818181;
  --font-family-primary: "Open Sans";
  --font-family-secondary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-family-primary);
}

p {
  font-size: 0.9em;
}

h3 {
  font-size: 0.8em;
  line-height: 1.7em;
  font-weight: 700;
  font-family: var(--font-family-secondary);
  text-transform: uppercase;
}

a { 
  color: var(--white);
  text-decoration: none;
}

.dark-grey {
  color: var(--dark-grey);
}

/* Header Content */
.header {
  display: flex;
  position: fixed;
  width: 100%;
  background: var(--white);
  z-index: 1;
}

.logo__container {
  padding: 1.3em 0.6em;
}

.logo {
  width: 4.1em;
}

.logo--social {
  margin-bottom: 1.2em;
  width: 13.1em;
}

.logo--footer {
  margin-bottom: 2.6em;
  width: 5.4em;
}

.header__content {
  flex: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 0.8em;
}

.navBar {
  margin-left: 2.8em;
}

.navBar__icon {
  font-size: 1.2em;
}

.navBar__icon--close,
.toggleNavBar .navBar__icon--menu {
  display: none !important;
}

.navBar__icon--close {
  display: none !important;
  font-size: 1.5em;
}

.toggleNavBar .navBar__icon--close {
  display: block !important;
}

.navBar__content {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  transition: 0.7s ease;
  text-align: right;
  background-color: var(--black);
}

.toggleNavBar .navBar__content {
  width: 100%;
  z-index: 3;
}

.navBar__item {
  padding: 1.25em 0.8em;
  font-size: 1em;
  color: var(--white);
  border-bottom: 0.05em solid var(--white);
}

.toggleNavBar .navBar__item:hover,
.toggleNavBar .navBar__item:active,
.toggleNavBar .navBar__item:focus {
  color: var(--black);
  background: var(--white);
}

.icon__container {
  position: relative;
}

.icon {
  font-size: 1.1em;
}

i {
  color: var(--black);
}

.icon__number {
  position: absolute;
  top: -0.8em;
  right: -1.8em;
  width: 1.7em;
  height: 1.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 50%;
}

/* Header Content */
.body {
}
/* Carousel Content */

.carouselItem__container {
  position: relative;
  height: 100vh;
}

.carouselItem {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carouselItem__image {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease-out 0.45s;
}

.carouselItem.active .carouselItem__image {
  opacity: 1;
}

.controls {
  position: absolute;
  bottom: 0.9em;
  left: 50%;
  transform: translate(-50%);
}

.controls ul {
  list-style: none;
}

.controls ul li {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 0.5em;
  background: var(--grey);
  cursor: pointer;
}

.controls ul li.active {
  background: var(--primary-color);
}

/* Carousel Content */
/* GridItem Content */
.gridItem__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25em;
  padding: 1.25em;
}

.gridItem {
  text-align: center;
}

.gridItem__image {
  margin-bottom: 0.7em;
  height: 15vh;
  width: 100%;
  object-fit: contain;
}
/* GridItem Content */
/* Social Content */
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.social--footer {
  margin-bottom: 2.6em;
  width: 100%;
  padding: 0 0 2.6em;
  border-bottom: 0.1em solid var(--white);
}

.social__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social__icon {
  width: 5.5em;
}

.social__icon--social {
  display: block;
  margin-bottom: 1.2em;
}

.social__icon--footer {
  width: 1.2em;
  margin-right: 0.5em;
}

.social__hero { display: none; }
/* Social Content */
/* Button */
.button {
  padding: 0.5em;
  color: var(--white);
  background: var(--primary-color);
  text-transform: uppercase;
  border-radius: 0.4em;
}

/* Button */
/* Info Content */

/* Info Content */

/* Footer Content */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.7em 0.9em 4.3em;
  background: url("./assets/footer-image.png") center no-repeat;
  color: var(--white);
}

/* Footer Content */

.placeholder {
  position: absolute;
  top: 70.4rem;
  left: 0;
  right: 0;
  height: 640px;
  background: url(assets/info-placeholder.png) center no-repeat;
  background-size: cover;
  opacity: 0.5;
  pointer-events: none;
  z-index: 99;
}
